@import 'vars';

html, body {
    overflow: visible !important;
}

section {
    background: $base-background;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.content-block {
    padding: 50px;
}

.about {
    min-height: 600px;
}

.polygon-borger {
    position: relative;
    background: #5c3400;
    clip-path: polygon(0 5%,5% 0,95% 0,100% 5%,100% 95%,95% 100%,5% 100%,0% 95%,0% 5%);

    .polygon-background {
        position: absolute;
        top: 1px;
        bottom: 1px;
        left: 1px;
        right: 1px;
        background: $base-background;
        clip-path: polygon(0 5%,5% 0,95% 0,100% 5%,100% 95%,95% 100%,5% 100%,0% 95%,0% 5%);
        padding: 12%;
        display: flex;
        align-items: center;
    }
}

.review-block {
    overflow: hidden;
}

/* menu (Jídelní lístek) */

.menu-row {
    display: flex;

    .dish-name {
        width: 60%;
    }

    .dish-price {
        width:40%;
    }
}

/* end of menu (Jídelní lístek) */

