@import 'vars';

/* index */

section {
    background: $base-background;
}

.parallax {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 1px;
}

.parallax-background {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transform: translateZ(-1px) scale(2);
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.parallax-content {
    transform: translateZ(0);
}

.gap {
    width: 100%; 
    height: 500px;
    background: none;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.content-block {
    padding: 50px;
}

.about {
    min-height: 600px;
}

.two-columns {
    display: grid;
    grid-template-columns: 47% 47%;
    grid-template-rows: 500px;
    column-gap: 6%;
}

.polygon-borger {
    position: relative;
    background: #5c3400;
    clip-path: polygon(0 5%,5% 0,95% 0,100% 5%,100% 95%,95% 100%,5% 100%,0% 95%,0% 5%);

    .polygon-background {
        position: absolute;
        top: 1px;
        bottom: 1px;
        left: 1px;
        right: 1px;
        background: $base-background;
        clip-path: polygon(0 5%,5% 0,95% 0,100% 5%,100% 95%,95% 100%,5% 100%,0% 95%,0% 5%);
        padding: 12%;
        display: flex;
        align-items: center;
    }
}

